@import "tailwindcss";

@font-face {
  font-family: 'Cupidus';
  font-style: normal;
  src: url('../src/assets/Cupidus-Extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'SantEliaScript';
  font-style: normal;
  src: url('../src/assets/SantEliaScript-Light.woff2') format('woff2'),
       
}
@theme {
  --font-sans: 'Cupidus', sans-serif;
  --font-serif: 'SantEliaScript', serif;
  --color-mode: light dark;
}
/* Base styles */
body h1 h2 h3 h4 h5 h6 {
  font-family: var(--font-sans);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}